extends layout

block content 

    h2 Hello from createOrar.pug

    //add bootstrap classes to ul with border
    ul#items.list-group.m-4
        li.list-group-item item 1
        li.list-group-item item 2
        li.list-group-item item 3
        li.list-group-item item 4
        li.list-group-item item 5

    script(src="/javascripts/drag.js")