extends layout 

block content 
    if grupa == null
        h2 Invalid code
    else
        - console.dir(grupa);
        h2 Cod: #{grupa.cod}    
        h2 Numar Studenti: #{grupa.nStudenti}
        h2 Numar semigrupe: #{grupa.nSemigrupe}
        h2 An: #{grupa.an}