extends layout

block content
	h1.display-2= title
	p.lead Welcome to #{title}
	.w-25.m-auto
		form(action="/auth" method="post")
			.form-outline.mb-4
				input.form-control(type="text" name="username" id="username" placeholder="Username" required)
			.form-outline.mb-4
				input.form-control(type="password" name="password" id="password" placeholder="Password" required)
			.row.mb-4
				.col.d-flex.justify-content-center
					.form-check
						input.form-control(type="checkbox" id="check" value='' checked='')
						label.form-check-label(for="check") Remember me
			button.btn.btn-primary.btn-block.mb-4(type='submit') Login