.edit:hover{
    cursor: pointer;
    color: yellowgreen;
}
.dele:hover{
    cursor: pointer;
    color: red;
}
.dele svg{
    color: black;
}
.dele:hover svg{
    color: red;
}
.sortable-chosen{
    background-color: gray;
    font-size: larger;
}
.tabel-sali{
    height: 100%;
}
.tabel-sali td,.tabel-sali th{
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}